NODE_ENV=development

JWT_SECRET=123456
JWT_EXPIRATION_TIME=2h
JWT_REFRESH_EXPIRATION_TIME=7d
COOKIE_DOMAIN=localhost

POSTGRES_USER=root
POSTGRES_PASSWORD=123456
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB_NAME=url-shortener

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=123456

APP_URL=http://localhost:3000

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB_NAME}?schema=public"
